

:root {
	

}

/*=======================================
ヘッダー
=========================================*/
.l-header {
	background-color: var(--header-bg-color);
	height: var(--header-height);
	width: 100%;
	display: flex;
	position: fixed;
	z-index: 9999;
	.logo {
		height: var(--header-height);
		margin-left: var(--spacing-size-32);
		margin-right: var(--spacing-size-192);
		display: grid;
		vertical-align: middle;
		position: absolute;
		top: 0;
		left: 85px;
		z-index: 9;
		align-items: center;
    	img {
    		height: var(--header-logo-height);
    	}
		@media (min-width: 1440px) {
			position: relative !important;
			left: 0 !important;
		}

		@media (min-width: 1024px) {
			position: absolute;
			left: 85px;
		}

		@media (min-width: 768px) {
			position: absolute;
			left: 85px;
		}
	}
	.navigation {
		display: grid;
		vertical-align: middle;
		align-items: center;
		position: absolute;
		background-color: #fff;
		width: calc(100% - var(--spacing-size-64));
		padding: var(--header-height) var(--spacing-size-32);
		height: calc(100vh - var(--header-height)*2);
		visibility: hidden;

		ul.menu-items {
			display: block;
			width: calc(var(--container-w) - #{$container-pd-1024});
			@media (min-width: 1440px) {
				width: 100% !important;
				li.menu-item {
					margin-right: var(--spacing-size-32) !important;
				}
			}

			@media (min-width: 1024px) {
				width: calc(var(--container-w) - #{$container-pd-1024});
				li.menu-item {
					margin-right: 0;
				}
			}

			@media (min-width: 768px) {
				width: calc(var(--container-w) - #{$container-pd-1024});
				li.menu-item {
					margin-right: 0;
				}
			}
			li.menu-item {
				font-size: var(--fs-18);
				margin-right: 0;
				font-weight: 600;
				position: relative;
				overflow: hidden;
				line-height: var(--header-height);
				cursor: pointer;
				&:last-child {
					margin-right: 0;
				}
				a {
					text-decoration: none;
					position: relative;
					display: inline-block;
  					width: 100%;
				}
				&.isActive,
				&:hover{
					a {
						color: var(--theme-color);
					}
					&::before{
						background-color: var(--header-menu-line);
						content: "";
						height: var(--header-menu-line-height);
						width: var(--spacing-size-64);
						position: absolute;
						bottom: 14px;
						left: 0;
						animation: line 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
					}
				}
				
			}
		}
		&.isActive {
			visibility: visible;
			-webkit-animation: menuOpen 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        	animation: menuOpen 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
		}

		&.isClose {
			-webkit-animation: menuClose 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        	animation: menuClose 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
		}

		@media (min-width: 1440px) {
			position: relative !important;
			width: auto !important;
			height: auto !important;
			visibility: visible !important;
			padding: 0 !important;
			ul.menu-items {
				display: flex !important;
				li.menu-item {
					&.isActive,
					&:hover {
						&::before {
							margin: 0 auto;
						}
					}
				}
			}
		}

		@media (min-width: 1024px) {
			ul.menu-items {
				display: block;
				li.menu-item {
					&.isActive,
					&:hover {
						&::before {
							
							right: 0;
						}
					}
				}
			}
		}

		@media (min-width: 768px) {
			ul.menu-items {
				display: block;
				li.menu-item {
					&.isActive,
					&:hover {
						&::before {
							left: 0;
						}
					}
				}
			}
		}
	}
	.contact {
		position: absolute;
    	right: 0;
    	display: none;
		.bt {
			padding: 0 var(--spacing-size-32);
			height: var(--header-bt-height);
			display: table-cell;
			vertical-align: middle;
			color: var(--type-lighten);
			position: relative;
			text-align: left;
			cursor: pointer;
			h6 {
				font-weight: 500;
				font-size: var(--fs-18);
				overflow: hidden;
				position: relative;
				padding-left: 32px;
				display: inherit;
    			height: 100%;
    			width: 100%;
				&:before {
					font-family: "Font Awesome 5 Pro";
					font-weight: 400;
					font-size: var(--fs-18);
					position: absolute;
					top: 0;
					left: 0;
					display: grid;
    				align-items: center;
    				height: 100%;
				}
				a {
					color: var(--type-lighten);
					text-decoration: none;
					display: inline-block;
					width: 100%;
					height: 100%;
    				align-items: center;
				}
			}
			
			&:hover{
				h6 {
					&:before{
						animation: bthover 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
					}
				}
				
			}
			&.bt-v1 {
				background-color: var(--header-bt-v1-color);
				h6 {
					&:before {
						content: "\f019";
					}
				}
			}
			&.bt-v2 {
				background-color: var(--header-bt-v2-color);
				h6 {
					&:before {
						content: "\f0e0";
					}
				}
			}
		}
		@media (min-width: 1440px) {
			display: block !important;
		}

		@media (min-width: 1024px) {
			display: none;
		}

		@media (min-width: 768px) {
			display: none;
		}
		
	}
	.mobile-menu {
		position: absolute;
    	left: 0;
		padding: 0 var(--spacing-size-32);
		height: var(--header-bt-height);
		display: grid;
		vertical-align: middle;
		color: var(--theme-color);
		text-align: center;
		cursor: pointer;
		align-items: center;
		span {
			font-weight: 500;
			font-size: var(--fs-24);
			display: grid;
			align-items: center;
		}
		@media (min-width: 1440px) {
			display: none !important;
		}

		@media (min-width: 1024px) {
			display: grid;
		}

		@media (min-width: 768px) {
			display: grid;
		}
	}
	.search-icons {
		position: absolute;
    	right: 0;
		padding: 0 var(--spacing-size-32);
		height: var(--header-bt-height);
		display: grid;
		vertical-align: middle;
		color: var(--theme-color);
		text-align: center;
		cursor: pointer;
		@media (min-width: 1440px) {
			display: none !important;
		}

		@media (min-width: 1024px) {
			display: grid;
		}

		@media (min-width: 768px) {
			display: grid;
		}
		.icons {
		    position: relative;
		    margin: auto;
		    bottom: 0;
		    border-radius: 50%;
		    transition: all 1s;
		    z-index: 4;
		    width: 24px;
			height: 24px;
		    &:hover {
		    	cursor: pointer;
		    	&::before {
		    		background: var(--theme-color);
		    	}
		    	&::after {
		    		border-color: var(--theme-color);

		    	}
		    }
		    &::before {
				content: "";
				position: absolute;
				margin: auto;
				top: var(--spacing-size-16);
				right: 0;
				bottom: 0;
				left: var(--spacing-size-16);
				width: var(--spacing-size-8);
				height: 2px;
				background: var(--theme-color);
				transform: rotate(45deg);
				transition: all .5s;
		    }
		    &::after {
				content: "";
				position: absolute;
				margin: auto;
				top: -5px;
				right: 0;
				bottom: 0;
				left: -5px;
				width: var(--spacing-size-16);
				height: var(--spacing-size-16);
				border-radius: 50%;
				border: 2px solid var(--theme-color);
				transition: all .5s;
		    }

		    &.isClose {
				z-index: 6;
				&::before {
					top: 0;
					left: 0;
					width: 25px;
				}
				&::after {
					top: 0;
					left: 0;
					width: 25px;
					height: 2px;
					border: none;
					background: var(--theme-color);
					border-radius: 0%;
					transform: rotate(-45deg);
				}
				&:hover {
					&::after {
						background: var(--theme-color);
					}
				}
		    }
		}
	}
}




/*=======================================
メニュー
=========================================*/
.l-nav {}