// Base
$theme-color: #CE1E25;
$darken-color: #0b0b0b;
$base-bg: #ffffff;
$lighten-color: #f0f0f0;
$items-color: #F9FAFB;

// Header
$header-h: 60px;


//feedback
$fb-avatar-size: 100px;
$feedback-w: $fb-avatar-size + 32px;

$container-pd: 32px;

:root {
	--f-avatar-size: #{$fb-avatar-size};
	--theme-color: #{$theme-color};
	--base-bg-color: #{$base-bg};
	--items-color: #{$items-color};

	--type-lighten: #ffffff;
	--type-dark: #{$darken-color};

	--button-color: #{$theme-color};
	--button-type-color: var(--type-lighten);

	/**
	 * Spacing Size
	 **/
	@for $i from 1 through 192 {
		@if ($i <= 128 and $i % 8 == 0){
			$sizes: $i + px;
			--spacing-size-#{$i}: #{$sizes};
		}
		@else if ($i == 4){
			$sizes: $i + px;
			--spacing-size-#{$i}: #{$sizes};
		}
		@else if ($i == 192){
			$sizes: $i + px;
			--spacing-size-#{$i}: #{$sizes};
		}
		@else{

		}
	}
	/**
	 * Font Size
	 **/
	 @for $i from 1 through 96 {
		@if ($i <= 96 and $i >= 16 and $i % 4 == 0){
			$sizes: $i + px;
			--fs-#{$i}: #{$sizes};
		}
		@else if ($i == 12 or $i == 14 or $i == 18){
			$sizes: $i + px;
			--fs-#{$i}: #{$sizes};
		}
		@else{

		}
	}

	--header-height: #{$header-h};
	--header-bg-color: #{$base-bg};

	--header-logo-height: 40px;
	--header-menu-line: #{$theme-color};
	--header-menu-line-height: 4px;
	--header-menu-line-width: 64px;

	--header-bt-v1-color: #{$darken-color};
	--header-bt-v2-color: #{$theme-color};
	--header-bt-height: #{$header-h};

	--hover-color: #{$base-bg};
	
	--bt-v1-color: #{$darken-color};
	--bt-v2-color: #{$theme-color};
}