.p-top {
	width: 100%;
	&__about {
		margin-top: var(--spacing-size-64);
		margin-bottom: var(--spacing-size-64);
		position: relative;
		.title-box {
			margin-bottom: var(--spacing-size-32) !important;
		}
		h1{
			font-size: var(--fs-40);
			margin-bottom: var(--spacing-size-32);
			line-height: 1;
		}
		p {
			font-size: var(--fs-18);
			line-height: 1.4;
		}
	} // end __about

	&__slide {
		height: var(--slide-height);
		overflow: hidden;
		.slides {
			position: relative;
			background-color: var(--hover-color);
			height: var(--slide-height);
			overflow: hidden;
			width: 100%;
			&-item {
				position: absolute;
				z-index: 8;
				width: 100%;
				height: var(--slide-height);
				background-repeat: no-repeat;
			    background-position: center;
			    background-size: cover;
				img {
					vertical-align: middle;
					width: 100%;
					height: auto;
				}
				.intro {
					background-color: rgba($theme-color, .75);
					color: var(--type-lighten);
					height: var(--slide-height);
					width: calc(100% - var(--spacing-size-64));
					position: absolute;
					top: 0;
					left: 0;
					padding: 0 var(--spacing-size-32);
					display: inline-grid;
					vertical-align: middle;
					
					.content {
						h1.title {
							font-size: var(--fs-72);
							line-height: 1;
							margin-bottom: var(--spacing-size-64);
							overflow: hidden;
							position: relative;
							bottom: 0;
							// height: 144px;
						}
						p {
							font-size: var(--fs-18);
							line-height: 1.4;
							margin-bottom: var(--spacing-size-16);
							position: relative;
							&:last-child {
								margin-bottom: 0;
							}
						}
					}
				}
				&.isOpen {
					animation: isOpen 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
					z-index: 10;
					img {
						animation: isOpenZoom 8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
					}
					
					.intro {
						.content {
							h1.title, p {
								animation: isOpenType 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
							}
						}
					}
				}
				&.isClose {
					animation: isClose 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
					z-index: 9;
				}
			}			
		}

	} // end __slide

	&__mission {
		margin-top: var(--spacing-size-64);
		margin-bottom: var(--spacing-size-128);
		position: relative;
		.title-box {
			h1.title {
				margin-bottom: var(--spacing-size-32) !important;
			}
			&:before {
				width: 240px !important;
			}
		}
		
		.content-box {
			p {
				font-size: var(--fs-18);
				line-height: 1.4;
				margin-bottom: var(--spacing-size-16);
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		
	} // end __mission

	&__service {
		position: relative;
		overflow: hidden;
		.service-box {
			.item {
				display: block;
				margin-bottom: var(--spacing-size-64);
				padding: var(--spacing-size-16);
				width: calc(100% - 32px);
				&:hover {
					background-color: var(--hover-color);
					border-radius: var(--spacing-size-4);
					@include box-shadow;
				}
				.icon {
					background-color: var(--theme-color);
					width: 100%;
					height: calc(104px - 44px);
					line-height: 104px;
					border-radius: var(--spacing-size-4);
					text-align: center;
					padding: 22px 0;
					margin-bottom: var(--spacing-size-32);
					margin-right: auto;
					margin-left: auto;
					img {
						height: 60px;
					}
					.blob {
						display: none;
					}
				}
				.content {
					width: 100%;
					h3.title {
						font-size: var(--fs-24);
						margin-bottom: var(--spacing-size-16);
					}
					p {
						font-size: var(--fs-18);
						margin-bottom: var(--spacing-size-16);
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
		.service-img {
			position: relative;
			display: none;
			.img {

			}
		}
	} // end __service
	
	

	&__feedback {
		margin-top: var(--spacing-size-64);
		margin-bottom: var(--spacing-size-128);
		.client {
			&-item {
				display: block;
				padding: var(--spacing-size-32) var(--spacing-size-16);
				&:hover {
					background-color: var(--hover-color);
					border-radius: var(--spacing-size-4);
					@include box-shadow;
				}
				.avatar {
					width: var(--f-avatar-size);
					height: var(--f-avatar-size);
					border-radius: var(--spacing-size-4);
					overflow: hidden;
					margin: 0 auto;
					img {
						vertical-align: middle;
						height: auto;
						width: 100%;
					}
				}
				.feedback {
					width: 100%;
					padding-left: 0;
					vertical-align: middle;
				    display: grid;
				    align-items: center;
					h4 {
						font-size: var(--fs-24);
						text-align: center;
						margin-bottom: var(--spacing-size-32);
						margin-top: var(--spacing-size-16);
						span.polite {
							display: block;
							margin-left: 0;
							font-size: var(--fs-18);

						}
						
					}
					p {
						font-size: var(--fs-18);
						margin-bottom: var(--spacing-size-16);
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
				@media (min-width: 480px) {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					.avatar {
						margin: 0;
					}
					.feedback {
						width: calc(100% - #{$feedback-w});
						padding-left: var(--spacing-size-32);
						h4 {
							text-align: left;
							margin-top: 0;
							span.polite {
								display: flex;
								margin-left: var(--spacing-size-16);
							}
							
						}
					}
				}
			}
		}
	} // end __feedback

	&__our-project {
		margin-top: var(--spacing-size-64);
		margin-bottom: var(--spacing-size-64);
		.col-lg-3 {
			margin-bottom: var(--spacing-size-32);
		}
		.item {
			padding: var(--spacing-size-16);
			cursor: pointer;
			&:hover {
				background-color: var(--theme-color);
				border-radius: var(--spacing-size-4);
				@include box-shadow;
				.thumb {
					img {
						transition: 2s;
						transform: scale(1.5);
					}
				}
				h4.title {
					color: var(--type-lighten);
					a {
						color: var(--type-lighten);
					}
				}
			}
			.thumb {
				margin-bottom: var(--spacing-size-16);
				border-radius: var(--spacing-size-4);
				overflow: hidden;
				img {
					transition: 2s;
				}
			}
			h4.title {
				font-size: var(--fs-20);
				color: var(--type-dark);
			}
		}
		.view-more {
			p {
				text-align: center;
			}
		}
	} // end __our-project

	&__our-product {
		margin-bottom: var(--spacing-size-64);
		.col-lg-3 {
			margin-bottom: var(--spacing-size-32);
		}
		.item {
			padding: var(--spacing-size-16);
			cursor: pointer;
			&:hover {
				background-color: var(--theme-color);
				border-radius: var(--spacing-size-4);
				@include box-shadow;
				.thumb {
					img {
						transition: 2s;
						transform: scale(1.5);
					}
				}
				h4.title {
					color: var(--type-lighten);
					a {
						color: var(--type-lighten);
					}
				}
			}
			.thumb {
				margin-bottom: var(--spacing-size-16);
				border-radius: var(--spacing-size-4);
				overflow: hidden;
				img {
					transition: 2s;
				}
			}
			h4.title {
				font-size: var(--fs-20);
				color: var(--type-dark);
			}
		}
		.view-more {
			p {
				text-align: center;
			}
		}
	} // end __our-product

	&__career {
		height: var(--slide-height);
		overflow: hidden;
		.careers {
			position: relative;
			background-color: var(--hover-color);
			height: var(--slide-height);
			overflow: hidden;
			&-item {
				position: absolute;
				width: 100%;
				height: var(--slide-height);
				background-repeat: no-repeat;
			    background-position: center;
			    background-size: cover;
				img {
					vertical-align: middle;
					width: 100%;
					height: auto;
				}
				.intro {
					background-color: rgba($theme-color, .75);
					color: var(--type-lighten);
					height: var(--slide-height);
					width: calc(100% - var(--spacing-size-64));
					position: absolute;
					top: 0;
					left: 0;
					padding: 0 var(--spacing-size-32);
					display: inline-grid;
					vertical-align: middle;
					
					.content {
						h1.title {
							font-size: var(--fs-72);
							line-height: 1.4;
							margin-bottom: var(--spacing-size-64);
							overflow: hidden;
							position: relative;
							bottom: 0;
							// height: 144px;
						}
						p {
							font-size: var(--fs-18);
							line-height: 1;
							margin-bottom: var(--spacing-size-16);
							position: relative;
							&:last-child {
								margin-bottom: 0;
							}
						}
					}
				}
				&.isOpen {
					animation: isOpen 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
					img {
						animation: isOpenZoom 8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
					}
					
					.intro {
						.content {
							h1.title, p {
								animation: isOpenType 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
							}
						}
					}
				}
				&.isClose {
					animation: isClose 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
				}
			}			
		}
	} // end __career

	&__contact {
		@extend %contactFooter;
	} //end __contact
}


//WP CUSTOMIZE
#wpadminbar {
    position: fixed !important;
}


// LOADING ICONS
.overlay {
	background-color: var(--base-bg-color);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;
	height: calc(100vh - var(--header-height) * 3);
	width: 100%;
	padding: var(--spacing-size-128) 0;
	display: grid;
	align-items: center;
	.sp {
		margin: 0 auto !important;
	}
	
}
$spCol: $theme-color; //icons color
.sp {
	width: var(--spacing-size-32);
	height: var(--spacing-size-32);
	clear: both;
	margin: 20px auto;
}// icons size

/* Spinner Circle Rotation */
.sp-circle {
	border: 4px rgba($spCol,0.25) solid;
	border-top: 4px rgba($spCol,1) solid;
	border-radius: 50%;
	-webkit-animation: spCircRot .6s infinite linear;
	animation: spCircRot .6s infinite linear;
}
@-webkit-keyframes spCircRot {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(359deg); }
}
@keyframes spCircRot {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}